<div class="jumbotron">
  <h1>Hi and welcome at Bexter</h1>
  <p>
    This is one of the assigments we ask candidates to do on a job interview. It's a test that allows
    you to show your bootstrap skills. This is an angular project using bootsrap 4. If you take a peek
    at the assignments page, you will see a grid which has some fixed columns. Your task is to make
    the grid responsive.
  </p>
  <p>
    The first row shows two columns of the same size. The first column is more important and should become
    relatively more important when the viewport decreases in size. On a small view, the second column must
    disappear.
  </p>
  <p>
    The second row shows two columns of a different size. When the viewport becomes smaller (medium), both columns
    should become the same size. In the smallest view, the entire row must disappear.
  </p>
  <p>
    The thirt row shows three columns of equal size. Once the view becomes smaller (medium or less) the columns
    must stretch out to the entire page width, and stack.
  </p>
</div>