<div class="row">
    <div class="col-6 red">This column should always be visible</div>
    <div class="col-6 green">
        This column must become smaller on medium views and disappear on small views
    </div>
</div>
<br />
<div class="row">
    <div class="col-8 red">These columns must become the same size on medium</div>
    <div class="col-4 green">and both hide on small views</div>
</div>
<br />
<div class="row">
    <div class="col-4 red">These three columns must stack</div>
    <div class="col-4 green">when the view becomes</div>
    <div class="col-4 blue">smaller then medium</div>
</div>